name: GitHub Action for Deploying Project to S3

on:
  push:
    branches:
      - main

jobs:
  deploy-s3-bucket:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code from repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy static code to S3
        run: |
          aws s3 sync . s3://deploy-project-in-s3-bucket/ \
            --exclude "*" \
            --include "index.html"
